/** IMPORTED BY index.css */
@theme {
    --color-yellow-in-light: oklch(0.5 0.0526 89.08);
    --color-yellow-in-light-accent: oklch(0.4 0.0526 89.08);

    --color-yellow-in-dark: oklch(0.9 0.0526 89.08);
    --color-yellow-in-dark-accent: oklch(0.95 0.0526 89.08);

    --color-blue-in-light: oklch(0.5 0.0526 243.52);
    --color-blue-in-light-accent: oklch(0.4 0.0526 243.52);

    --color-blue-in-dark: oklch(0.9 0.0526 243.52);
    --color-blue-in-dark-accent: oklch(0.95 0.0526 243.52);

    --color-red-in-light: oklch(0.5 0.0526 0);
    --color-red-in-light-accent: oklch(0.4 0.0526 0);

    --color-red-in-dark: oklch(0.9 0.0526 0);
    --color-red-in-dark-accent: oklch(0.95 0.0526 0);
}
