@import "tailwindcss";

@theme {
    --color-yellow-in-light: oklch(0.5 0.0526 89.08);
    --color-yellow-in-light-accent: oklch(0.4 0.0526 89.08);

    --color-yellow-in-dark: oklch(0.9 0.0526 89.08);
    --color-yellow-in-dark-accent: oklch(0.95 0.0526 89.08);

    --color-blue-in-light: oklch(0.5 0.0526 243.52);
    --color-blue-in-light-accent: oklch(0.4 0.0526 243.52);

    --color-blue-in-dark: oklch(0.9 0.0526 243.52);
    --color-blue-in-dark-accent: oklch(0.95 0.0526 243.52);

    --color-red-in-light: oklch(0.5 0.0526 0);
    --color-red-in-light-accent: oklch(0.4 0.0526 0);

    --color-red-in-dark: oklch(0.9 0.0526 0);
    --color-red-in-dark-accent: oklch(0.95 0.0526 0);
}


* {
    box-sizing: border-box;
    /* transition-timing-function: "cubic-bezier(0,1.58,0,1.54)"; */
    /* transition-timing-function: "cubic-bezier(.01,.81,.09,1.13)"; */
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --skeleton-vivid: oklch(0 0 0 / 0.05);
    --skeleton-muted: oklch(0 0 0 / 0.03);
    --skeleton-highlight: var(--skeleton-vivid);
    --skeleton-bg: var(--skeleton-muted);
}

@media (prefers-color-scheme: dark) {
    :root {
        --skeleton-vivid: oklch(1 0 0 / 0.07);
        --skeleton-muted: oklch(1 0 0 / 0.05);
    }
}

#root {
    width: 100vw;
    height: 100vh;
}
